
body{
    background-color: #d1eedd ;
    color: #003333;
    background-image: url('1.jpeg');
    
    
}
#contactBtn{
    border-radius: 10px;
    background-color: #f1dfbc;
    font-weight: bolder;
    border-color: rgba(34, 121, 92, 0.664);
}
#con{
    margin-top: 2%;
    background-color: #f7f4efe8;
    width: 54%;

}

.main-navbar{
    background-color: #f1dfbc;
    color: #003333;
}

.navbar-brand{
    margin-right: 80%;

    
}
#bar-logo{
    color:rgba(34, 121, 92, 0.664);
    text-shadow: #003333;
}

.btnContact{
    background-color: #d1eedd;
    color:  #e9a321;
}
#T1{
    text-align: center;
}
#T2{
    text-align: center;
}
input{
    background-color: #d2e0d8;

}

#addUser{
    background-color: #f5efe3d8;
    border-radius: 30px;
    font-weight: bolder;
    border-color: antiquewhite;

}
#email{
    border-radius: 30px;
    margin-left: 5%;
    background-color: #f5efe3;

}
#secondEmail{
    border-radius: 30px;
    /* margin-left: 1%; */
    background-color: #f5efe3;

}
#password{
    border-radius: 30px;
        margin-left: 2%;
        background-color: #f5efe3;

}
#pass3{
    border-radius: 30px;
    margin-right: 2%;
    background-color: #f5efe3;

}

#username{
    border-radius: 30px;
    margin-left: 2%;
    background-color: #f5efe3;


}
form{
    margin: 0 auto;

}