body{
    background-color: #d1eedd ;
    color: #003333;
    background-image: url('bg.png');
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}
#contactBtn{
    border-radius: 10px;
    background-color: #f1dfbc;
    font-weight: bolder;
    border-color: rgba(34, 121, 92, 0.664);
}
#con{
    margin-top: 2%;
    background-color: #c0b49dbb;
    width: 50%;

}

.main-navbar{
    background-color: #f1dfbc;
    color: #003333;
}

.navbar-brand{
    margin-right: 80%;

    
}
#bar-logo{
    color:rgba(34, 121, 92, 0.664);
    text-shadow: #003333;
}

.btnContact{
    background-color: #d1eedd;
    color:  #e9a321;
}
#lblEmail{
    margin-right: 10px;
}
#eml{
    background-color: #f1eadcd3;
    border-radius: 30px;
}
#lblPassword{
    margin-right: 10px;
}
#pass{
    background-color: #f1eadcd3;
    border-radius: 30px;
}
#reset{
    background-color: #f1eadcc5;
    border-radius: 30px;
    width : 10%;
}
